.passion-modify {
  position: relative;
  display: flex;
  justify-content: space-between;
  overflow: hidden; }
  .passion-modify:hover {
    overflow: visible; }
    .passion-modify:hover .passion-modify--difficulty {
      opacity: 1; }
  .passion-modify--difficulty {
    position: absolute;
    top: 0;
    right: 64px;
    left: 0;
    z-index: 1;
    opacity: 0; }
