.card {
  margin-top: 20px; }

.character--title {
  margin: 8px 0;
  border-bottom: 1px solid rgba(173, 216, 230, 0.6); }

.character--name {
  font-size: 40px;
  background-color: red; }

.character--skill {
  position: relative; }
  .character--skill--icon {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 8px;
    font-family: 'Cinzel Decorative';
    text-transform: uppercase;
    margin: 0 16px;
    border-radius: 50%;
    border: 1px solid rgba(173, 216, 230, 0.4);
    box-shadow: 0 0 10px 2px rgba(255, 255, 255, 0.2);
    padding: 8px;
    width: 16px;
    height: 16px;
    background: rgba(173, 216, 230, 0.4); }
  .character--skill--infos {
    display: none;
    position: absolute;
    top: 0;
    left: 8px;
    z-index: 2;
    background: rgba(0, 29, 41, 0.9);
    border: 1px solid rgba(173, 216, 230, 0.6);
    width: 200px;
    padding: 8px 16px;
    box-shadow: 0 0 20px 4px rgba(0, 29, 41, 0.2);
    font-size: 14px; }
  .character--skill:hover .character--skill--infos {
    display: block; }

.character--attributes--elem {
  display: flex;
  width: 33.33%;
  padding-right: 10.66667px; }
  .character--attributes--elem span {
    flex-grow: 1; }

.character--skills {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-right: -16px;
  padding-top: 2px;
  padding-bottom: 2px; }
  .character--skills__standard {
    max-height: 196px; }
  .character--skills__pro {
    max-height: 316px; }
  .character--skills:hover {
    overflow: visible; }
  .character--skills--item {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 33.33%;
    padding-right: 16px; }
    .character--skills--item--difficulty {
      position: absolute;
      top: 0;
      right: 80px;
      left: 0;
      z-index: 1;
      opacity: 0; }
    .character--skills--item--base:hover .character--skills--item--difficulty {
      opacity: 1; }

.character--combat-skills {
  display: flex; }
  .character--combat-skills--action {
    display: flex;
    flex-direction: column; }
