@import 'scss/layout.scss';
@import 'scss/colors.scss';

// %list-item {
//   position: relative;
//   display: inline-flex;
//   justify-content: space-between;
//   width: 250px;
//   margin-right: $g2;
// }

.card {
  margin-top: 20px;
}

.character {
  &--title {
    margin: $g1 0;
    border-bottom: 1px solid rgba($primary-1, 0.6);
    // padding-bottom: $g1;
  }

  &--name {
    font-size: $g5;
    background-color: red;
  }

  &--skill {
    position: relative;

    &--icon {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: $g1;
      font-family: 'Cinzel Decorative';
      text-transform: uppercase;
      margin: 0 $g2;
      border-radius: 50%;
      border: 1px solid rgba($primary-1, 0.4);
      box-shadow: 0 0 10px 2px rgba($white, 0.2);
      padding: $g1;
      width: $g2;
      height: $g2;
      background: rgba($primary-1, 0.4);
    }

    &--infos {
      display: none;
      position: absolute;
      top: 0;
      left: $g1;
      z-index: 2;
      background: rgba($neutral-1, 0.9);
      border: 1px solid rgba($primary-1, 0.6);
      width: 200px;
      padding: $g1 $g2;
      box-shadow: 0 0 20px 4px rgba($neutral-1, 0.2);
      font-size: 14px;
    }

    &:hover {
      .character--skill--infos {
        display: block;
      }
    }
  }

  &--attributes {
    &--elem {
      display: flex;
      width: 33.33%;
      padding-right: $g2 / 3 * 2;
      span {
        flex-grow: 1;
      }
    }
  }

  &--skills {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-right: - $g2;
    padding-top: 2px;
    padding-bottom: 2px;

    &__standard {
      max-height: 24 / 3 * $g3 + 4;
    }

    &__pro {
      max-height: 39 / 3 * $g3 + 4;
    }

    &:hover {
      overflow: visible;
    }

    &--item {
      position: relative;
      display: flex;
      justify-content: space-between;
      width: 33.33%;
      padding-right: $g2;

      &--difficulty {
        position: absolute;
        top: 0;
        right: $g10;
        left: 0;
        z-index: 1;
        opacity: 0;
      }

      &--base:hover {
        .character--skills--item--difficulty {
          opacity: 1;
        }
      }
    }
  }

  &--combat-skills {
    display: flex;

    &--action {
      display: flex;
      flex-direction: column;
    }
  }
}
