.card {
  margin-top: 20px; }

.character--title {
  margin: 8px 0;
  border-bottom: 1px solid rgba(173, 216, 230, 0.6); }

.character--name {
  font-size: 40px;
  background-color: red; }

.character--health {
  display: flex;
  align-items: center; }
  .character--health input {
    width: 50px;
    margin-right: 8px;
    text-align: right; }
  .character--health--button {
    flex: 0 1 50%; }

.character--stats {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 16px; }
  .character--stats--attributes--elem {
    display: flex; }
    .character--stats--attributes--elem span {
      flex-grow: 1; }

.character--skills {
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-flow: column;
  grid-column-gap: 16px;
  grid-auto-flow: column;
  padding: 2px 0; }
  .character--skills__standard {
    grid-template-rows: repeat(8, 1fr); }
  .character--skills__pro {
    grid-template-rows: repeat(13, 1fr); }
  .character--skills:hover {
    overflow: visible; }
  .character--skills--item {
    position: relative;
    display: flex;
    justify-content: space-between; }
    .character--skills--item--difficulty {
      position: absolute;
      top: 0;
      right: 64px;
      left: 0;
      z-index: 1;
      opacity: 0; }
    .character--skills--item--base:hover .character--skills--item--difficulty {
      opacity: 1; }

.character--combat-skills {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 16px; }
  .character--combat-skills--item {
    border: 1px solid rgba(220, 239, 245, 0.1);
    padding: 16px;
    box-shadow: 0 0 10px 0px rgba(220, 239, 245, 0.1);
    transition: all 300ms ease-in-out; }
    .character--combat-skills--item:hover {
      border-color: rgba(220, 239, 245, 0.2);
      box-shadow: 0 0 20px rgba(220, 239, 245, 0.2); }
    .character--combat-skills--item--title {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 8px; }
