@import '../../scss/layout.scss';
@import '../../scss/colors.scss';

.card {
  position: relative;
  border: 1px solid $primary-1;
  // border-radius: 2px;
  box-shadow: 0 0 10px 2px rgba($primary-1, 0.4);
  background: $neutral-1;
  // max-width: 600px;

  &--title {
    border-bottom: 1px solid rgba($primary-1, 0.6);
    padding: $g2;
  }

  &--content {
    padding: $g2;
  }

  &--corner {
    position: absolute;
    background: transparent;
    border: 3px solid transparent;
    width: $g3;
    height: $g3;

    &.top {
      top: -2px;
      border-top-color: rgba($white, 0.7);
    }
    &.bottom {
      bottom: -2px;
      border-bottom-color: rgba($white, 0.7);
    }
    &.right {
      right: -2px;
      border-right-color: rgba($white, 0.7);
    }
    &.left {
      left: -2px;
      border-left-color: rgba($white, 0.7);
    }
  }
}
