@import 'scss/layout.scss';
@import 'scss/colors.scss';

.card {
  border: 2px solid $neutral-2;
  border-radius: $g1;
  box-shadow: 0 0 20px 4px rgba($neutral-2, 0.4);
  background: $neutral-4;
  // max-width: 600px;

  &--title {
    border-bottom: 1px solid $neutral-2;
    padding: $g2;
  }

  &--content {
    padding: $g2;
  }
}
