@import '../../scss/layout.scss';
@import '../../scss/colors.scss';

.menu {
  margin-bottom: $g2;

  &--header {
    background-color: $neutral-2;
    padding: $g2;
    margin-bottom: 2px;

    &--title {
      text-align: center;
    }
  }

  &--links {
    display: flex;
    padding-bottom: 1px;
    background: $neutral-1;

    li {
      flex-grow: 1;

      &.menu--category {
        flex-grow: 0;
      }
    }
  }

  &--link {
    transition: all ease-in-out 300ms;
    padding: $g1 $g2;
    margin: 2px;
    background: rgba($primary-1, 0.2);
    color: $white;
    text-align: center;
    border: 1px solid $primary-1;
    text-shadow: 0 0 2px $primary-1;

    &:hover {
      background: rgba($primary-1, 0.1);
      box-shadow: 0 0 5px 1px rgba($primary-1, 0.7);
      border-color: $white;
    }

    &--active {
      position: relative;

      &:hover {
        background: rgba($primary-1, 0.1);
      }

      &:before {
        position: absolute;
        display: block;
        right: 0;
        bottom: 0;
        left: 0;
        height: 3px;
        background: $primary-1;
        content: '';
      }
    }
  }

  &--category {
    padding: $g1 $g2;
    background: rgba($neutral-3, 0.3);
    color: $primary-1;
    text-align: center;
    width: 150px;
    text-transform: uppercase;
    font-weight: 500;
  }
}
