@import '../../scss/layout.scss';
@import '../../scss/colors.scss';

.skill-sheet {
  border: 1px solid rgba($neutral-5, 0.1);
  padding: $g2;
  box-shadow: 0 0 10px 0px rgba($neutral-5, 0.1);
  transition: all 300ms ease-in-out;

  &:hover {
    border-color: rgba($neutral-5, 0.2);
    box-shadow: 0 0 20px rgba($neutral-5, 0.2);
  }

  &--title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: $g1;
  }

  &--infos {
    &--item {
      &--label {
        font-weight: 500;
      }

      &--extra {
        font-style: italic;
        font-size: $g2 - 2;
        line-height: $g2 - 2;
      }
    }
  }
}
