.difficulty {
  background: rgba(0, 29, 41, 0.9);
  border: 1px solid rgba(173, 216, 230, 0.6);
  padding: 8px 16px;
  box-shadow: 0 0 20px 4px rgba(0, 29, 41, 0.2);
  font-size: 14px; }
  .difficulty--title {
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase; }
  .difficulty li {
    display: flex;
    justify-content: space-between; }
    .difficulty li .separator {
      flex-grow: 1;
      border-bottom: 1px dotted rgba(173, 216, 230, 0.2);
      margin-bottom: 7px; }
