.equipment {
  display: flex;
  align-items: flex-start; }
  .equipment--schema {
    display: grid;
    grid-template-areas: '. head back' 'shoulders chest neck' 'hands belt ring1' 'feet legs ring2' 'weapon1 weapon2 offhand';
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-gap: 8px;
    width: 160px;
    margin-right: 24px; }
    .equipment--schema--item {
      opacity: 0.1; }
      .equipment--schema--item__equipped {
        opacity: 0.8;
        cursor: pointer; }
      .equipment--schema--item__selected {
        opacity: 1;
        filter: drop-shadow(0 0 5px rgba(255, 255, 255, 0.8)); }
      .equipment--schema--item__head {
        grid-area: head; }
      .equipment--schema--item__chest {
        grid-area: chest; }
      .equipment--schema--item__back {
        grid-area: back; }
      .equipment--schema--item__shoulders {
        grid-area: shoulders; }
      .equipment--schema--item__neck {
        grid-area: neck; }
      .equipment--schema--item__ring1 {
        grid-area: ring1; }
      .equipment--schema--item__ring2 {
        grid-area: ring2; }
      .equipment--schema--item__hands {
        grid-area: hands; }
      .equipment--schema--item__belt {
        grid-area: belt; }
      .equipment--schema--item__legs {
        grid-area: legs; }
      .equipment--schema--item__feet {
        grid-area: feet; }
      .equipment--schema--item__weapon1 {
        grid-area: weapon1; }
      .equipment--schema--item__weapon2 {
        grid-area: weapon2; }
      .equipment--schema--item__offhand {
        grid-area: offhand; }
  .equipment--single {
    border: 1px solid rgba(147, 184, 194, 0.5);
    box-shadow: 0 0 8px rgba(220, 239, 245, 0.5);
    margin-right: 24px;
    min-width: 200px; }
  .equipment--stats {
    justify-self: flex-end; }
