@import '../../scss/layout.scss';
@import '../../scss/colors.scss';

.equipment {
  display: flex;
  align-items: flex-start;
  @media screen and (max-width: 720px) {
    display: initial;
  }

  &--schema {
    display: grid;
    grid-template-areas:
      '. head back'
      'shoulders chest neck'
      'hands belt ring1'
      'feet legs ring2'
      'weapon1 weapon2 offhand';
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-gap: $g1;
    width: $g5 * 4;
    margin-right: $g3;
    @media screen and (max-width: 720px) {
      margin: 0 auto $g2;
    }

    &--item {
      opacity: 0.1;
      transition: all 150ms linear;

      &__equipped {
        opacity: 0.8;
        cursor: pointer;
      }

      &__selected {
        $c: rgba($neutral-1, 0.8);
        opacity: 1;
        filter: drop-shadow(1px 1px 0px $c) drop-shadow(-1px -1px 0px $c) drop-shadow(1px -1px 0px $c)
          drop-shadow(-1px 1px 0px $c) drop-shadow(2px 2px 0px $c) drop-shadow(0 0 5px rgba($white, 0.8));
      }

      $placements: head chest back shoulders neck ring1 ring2 hands belt legs feet weapon1 weapon2 offhand;
      @each $place in $placements {
        &__#{$place} {
          grid-area: #{$place};
        }
      }
    }
  }

  &--single {
    border: 1px solid rgba($neutral-4, 0.5);
    box-shadow: 0 0 $g1 rgba($neutral-5, 0.5);
    margin-right: $g3;
    min-width: 200px;
    @media screen and (max-width: 720px) {
      margin-right: 0;
      margin-bottom: $g2;
    }

    &--button {
      // margin-top: $g1;
    }
  }

  &--stats {
    justify-self: flex-end;
  }
}
