@import '../../scss/layout.scss';
@import '../../scss/colors.scss';

.inventory {
  display: flex;
  align-items: flex-start;
  min-height: 200px;

  @media screen and (max-width: 720px) {
    flex-direction: column;
  }

  &--items {
    display: flex;
    flex-wrap: wrap;
    @media screen and (max-width: 720px) {
      order: -1;
    }

    &--item {
      opacity: 0.1;
      width: $g6;
      height: $g6;
      padding: $g1;
      border: 1px dashed rgba($white, 0.5);
      cursor: pointer;
      transition: all 150ms linear;

      &__selected {
        $c: rgba($neutral-1, 0.8);
        opacity: 1;
        filter: drop-shadow(1px 1px 0px $c) drop-shadow(-1px -1px 0px $c) drop-shadow(1px -1px 0px $c)
          drop-shadow(-1px 1px 0px $c) drop-shadow(2px 2px 0px $c) drop-shadow(0 0 5px rgba($white, 0.8));
      }
    }
  }

  &--single {
    border: 1px solid rgba($neutral-4, 0.5);
    box-shadow: 0 0 $g1 rgba($neutral-5, 0.5);
    margin-right: $g3;
    min-width: 200px;
    @media screen and (max-width: 720px) {
      margin-top: $g1;
      margin-right: 0;
      width: 100%;
    }
  }

  &--stats {
    justify-self: flex-end;
  }
}
