@import '../../scss/layout.scss';
@import '../../scss/colors.scss';

.selection {
  &--title {
    border-bottom: 1px solid rgba($primary-1, 0.8);
    margin-bottom: $g2;
  }
  &--content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(160px, auto));
    grid-gap: $g2;
    margin-bottom: $g4;
  }
  &--button {
    margin-top: $g2;
  }
  &--characters {
    // margin-right: $g2;

    &:last-child {
      margin-right: 0;
    }
    &--char {
      &--name {
        display: flex;
        flex-direction: column;

        input {
          width: 100%;
          text-align: right;
        }
      }
    }
  }
}
