.selection--title {
  border-bottom: 1px solid rgba(173, 216, 230, 0.8);
  margin-bottom: 16px; }

.selection--content {
  display: flex;
  margin-bottom: 32px; }

.selection--button {
  margin-top: 16px; }

.selection--characters {
  margin-right: 16px; }
  .selection--characters:last-child {
    margin-right: 0; }
  .selection--characters--char--name {
    display: flex;
    flex-direction: column; }
