@import '../../scss/layout.scss';
@import '../../scss/colors.scss';

.icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: $g2;
  height: $g2;

  img {
    width: 100%;
    height: 100%;
  }

  &__full {
    width: 100%;
    height: 100%;
  }
}
