.skills--assign {
  margin-top: 16px;
  border-top: 1px solid rgba(173, 216, 230, 0.7);
  padding-top: 16px; }

.skills--create--title {
  border-bottom: 1px solid rgba(173, 216, 230, 0.7);
  margin-bottom: 16px;
  padding-bottom: 16px; }

.skills--create--field {
  display: flex;
  align-items: center;
  margin-bottom: 8px; }
  .skills--create--field label {
    width: 160px; }
  .skills--create--field--additional {
    margin-right: 16px;
    margin-left: 16px;
    font-size: 24px; }

.skills--create--actions {
  margin-top: 16px;
  padding-top: 16px;
  border-top: 1px solid rgba(173, 216, 230, 0.7); }
  .skills--create--actions--message {
    margin-top: 8px;
    color: rgba(220, 239, 245, 0.7);
    font-size: 14px;
    font-style: italic; }

.skills--list--title {
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(173, 216, 230, 0.7);
  margin-bottom: 16px;
  padding-bottom: 16px; }
  .skills--list--title span {
    margin-right: 16px;
    margin-left: 16px; }
