@import '../../scss/layout.scss';
@import '../../scss/colors.scss';

.skills {
  &--assign {
    margin-top: $g2;
    border-top: 1px solid rgba($primary-1, 0.7);
    padding-top: $g2;
  }

  &--create {
    display: flex;
    flex-wrap: wrap;

    &--title {
      border-bottom: 1px solid rgba($primary-1, 0.7);
      margin-bottom: $g2;
      padding-bottom: $g2;
    }

    &--field {
      display: flex;
      align-items: center;
      margin-bottom: $g1;

      label {
        width: $g10 * 2;
      }

      &--additional {
        margin-right: $g2;
        margin-left: $g2;
        font-size: $g3;
      }
    }

    &--actions {
      flex-grow: 1;
      flex-basis: 100%;
      margin-top: $g2;
      padding-top: $g2;
      border-top: 1px solid rgba($primary-1, 0.7);

      &--message {
        margin-top: $g1;
        color: rgba($neutral-5, 0.7);
        font-size: $g2 - 2;
        font-style: italic;
      }
    }
  }

  &--list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-gap: $g2;
  }
}
