@import '../../scss/layout.scss';
@import '../../scss/colors.scss';

.spinner {
  &--outer {
    border-top: 5px solid $primary-1;
    border-bottom: 5px solid $primary-1;
    box-shadow: 0 0 8px $primary-1;
  }

  &--circle {
    top: 50%;
    left: 50%;
    display: block;
    position: absolute;
    transition: all 250ms ease-out;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-radius: 50%;
    background-color: transparent;
  }

  &--large {
    width: 50px;
    height: 50px;
    animation: arwes-loading-circle1 750ms infinite linear;
    margin-top: -25px;
    margin-left: -25px;
  }

  &--small {
    width: 30px;
    height: 30px;
    animation: arwes-loading-circle2 750ms infinite linear;
    margin-top: -15px;
    margin-left: -15px;
  }
}

@keyframes arwes-loading-circle1 {
  0% {
    opacity: 0;
    transform: rotate(160deg);
  }

  50% {
    opacity: 1;
    transform: rotate(145deg);
  }
  100% {
    opacity: 0;
    transform: rotate(-320deg);
  }
}
@keyframes arwes-loading-circle2 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
