.button {
  display: inline-block;
  border: 1px solid #d95b43;
  border-radius: 8px;
  background: #ecd078;
  cursor: pointer;
  padding: 8px 16px;
  color: #d95b43; }

.button--disabled {
  position: relative; }
  .button--disabled:after {
    position: absolute;
    top: -1px;
    right: -1px;
    bottom: -1px;
    left: -1px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.8);
    cursor: not-allowed;
    content: ''; }
