@import 'scss/layout.scss';
@import 'scss/colors.scss';

%button {
  position: relative;
  display: inline-block;
  border-radius: $g1;
  background: $primary-1;
  cursor: pointer;
  padding: $g1 $g2;
  vertical-align: middle;
  color: $accent-1;
  overflow: hidden;
  user-select: none;

  &:hover {
    background: darken($primary-1, 10%);
  }
}

.button {
  @extend %button;

  &--disabled {
    position: relative;

    &:after {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: rgba(#fff, 0.8);
      cursor: not-allowed;
      content: '';
    }
  }

  &--progress {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    background: rgba($neutral-1, 0.3);
    cursor: not-allowed;
  }

  &--small {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: $g2;
    height: $g2;
    line-height: $g2 + 1;
    padding: 0;
    text-transform: uppercase;
  }
}
