@import './scss/colors.scss';
@import './scss/layout.scss';

body {
  line-height: $g3;
  color: $neutral-1;
  font-size: $g2;
}

.app {
  &--header {
    background-color: $neutral-2;
    padding: $g3;
    color: #fff;
  }

  &--title {
    text-align: center;
  }

  &--wrapper {
    margin: auto;
    max-width: 960px;
  }
}
