$primary-1: #ecd078;

$accent-1: #d95b43;
$accent-2: #c02942;
$accent-3: #542437;
$accent-4: #53777a;

$neutral-1: #001d29;
$neutral-2: #013340;
$neutral-3: #236475;
$neutral-4: #93b8c2;
$neutral-5: #dceff5;
