.fight-actions--standard-skills--item {
  display: inline-flex;
  justify-content: space-between;
  width: 250px;
  margin-right: 16px; }

.card {
  margin-top: 20px; }

.fight-actions--title {
  margin: 8px 0;
  border-bottom: 1px solid rgba(173, 216, 230, 0.6); }

.fight-actions--name {
  font-size: 40px;
  background-color: red; }

.fight-actions--standard {
  display: flex;
  border-bottom: 1px solid rgba(173, 216, 230, 0.6);
  margin-bottom: 16px;
  padding-bottom: 16px; }
  .fight-actions--standard--item {
    position: relative;
    overflow: hidden; }
    .fight-actions--standard--item:hover {
      overflow: visible; }
      .fight-actions--standard--item:hover .fight-actions--standard--item--button--difficulty {
        opacity: 1; }
    .fight-actions--standard--item--button {
      display: flex;
      align-items: center; }
      .fight-actions--standard--item--button span {
        display: flex;
        align-items: center;
        margin-right: 8px; }
        .fight-actions--standard--item--button span:last-child {
          margin-right: 0; }
      .fight-actions--standard--item--button--difficulty {
        position: absolute;
        top: 41px;
        right: 0;
        left: 0;
        opacity: 0;
        z-index: 2; }

.fight-actions--skill {
  position: relative; }
  .fight-actions--skill--icon {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 8px;
    font-family: 'Cinzel Decorative';
    text-transform: uppercase;
    margin: 0 16px;
    border-radius: 50%;
    border: 1px solid rgba(173, 216, 230, 0.4);
    box-shadow: 0 0 10px 2px rgba(255, 255, 255, 0.2);
    padding: 8px;
    width: 16px;
    height: 16px;
    background: rgba(173, 216, 230, 0.4); }
  .fight-actions--skill--infos {
    display: none;
    position: absolute;
    top: 0;
    left: 8px;
    z-index: 2;
    background: rgba(0, 29, 41, 0.9);
    border: 1px solid rgba(173, 216, 230, 0.6);
    width: 200px;
    padding: 8px 16px;
    box-shadow: 0 0 20px 4px rgba(0, 29, 41, 0.2);
    font-size: 14px; }
  .fight-actions--skill:hover .character--skill--infos {
    display: block; }

.fight-actions--attributes--elem span {
  display: inline-block;
  width: 160px;
  margin-right: 40px; }

.fight-actions--skills {
  display: flex; }
  .fight-actions--skills--action {
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden; }
    .fight-actions--skills--action:hover {
      overflow: visible; }
      .fight-actions--skills--action:hover .fight-actions--standard--item--button--difficulty {
        opacity: 1; }
